aiohttp
aiosignal
annotated-types
anyio
attrs
certifi
charset-normalizer
dataclasses-json
distro
frozenlist
h11
httpcore
httpx
idna
iniconfig
jsonpatch
jsonpointer
langchain==0.1.5
langchain-community==0.0.18
langchain-core==0.1.19
langchain-openai==0.0.5
langsmith==0.0.87
marshmallow
multidict
mypy-extensions
numpy
openai
packaging
pluggy
pydantic
pydantic_core
pytest
PyYAML
regex
requests
sniffio
SQLAlchemy
tenacity
tiktoken
tqdm
typing-inspect
typing_extensions
urllib3
yarl
